.App{
  height: 605px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.items{
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 2px 25% 0px 20%;
  justify-content: space-evenly;
}
.itemRow{
  display: flex !important;
  height: 27%;
  justify-content: space-between;

}
.item{
  border: 1px solid black;
  border-radius: 2px;
  height: 100%;
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}
.itemImg{
  height: 100%;
  width: 40%;
}
.btnAdd{
  border: 1px solid #fbff00 !important;
  color: #fbff00 !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}
.footer{

}